*.pyc
*.swp
.coverage
.installed.cfg
.mr.developer.cfg
.noseids
.project
.pydevproject
.settings/
.svn/
bin/
bioport/
deploy/
develop-eggs/
eggs/
env/
etc/.svn/
fabfile.pyc
parts/
plone-buildout/products/
src/
tmp/
tunnel.pyc
var/
violations.txt
