plone-buildout/products/

.installed.cfg
bin/
bioport/
deploy/
develop-eggs/
eggs/
etc/.svn/
fabfile.pyc
parts/
src/
tunnel.pyc
var/
.mr.developer.cfg
*.swp
.svn/
.noseids
.project
.pydevproject
.settings/
.coverage
env/
violations.txt
