[buildout]
unzip = true
extensions =
    mr.developer
    buildout.dumppickedversions
sources = sources
find-links = http://dev.inghist.nl/eggs
auto-checkout =
    bioport
    bioport_repository
    biodes
    names
    Levenshtein
    gerbrandyutils
    
parts =
    testclient
    eggbasket
    app
    i18n
    test
    mkdirs
    zpasswd
    zope_conf
    site_zcml
    zdaemon_conf
    deploy_ini
    debug_ini
# For backward compatibility, telling buildout not to throw away
# the data and log subdirectories from the parts directory.
    data
    log
    Products
# efficiency related additions
    zope_zeoclient_conf
    haproxy-build
    haproxy-conf
    supervisor
    zeoserver

newest = false

extends = versions.cfg
# eggs will be installed in the default buildout location
# (see .buildout/default.cfg in your home directory)
# unless you specify an eggs-directory option here.

versions = versions

[ports]
#plone = 8093 change this in plone-buildout/
haproxy = 8094
zeoserver = 8095
paster1 = 8096
paster2 = 8097
paster3 = 8098
paster4 = 8099
supervisor = 8100

[app]
recipe = zc.recipe.egg
eggs =
     bioport
     biodes
     names
     bioport_repository
     gerbrandyutils
     plone.memoize==1.0.4
     z3c.evalexception>=2.0
     Paste
     PasteScript
     PasteDeploy
     sqlalchemy
     MySQL-python
     lxml       
     nose # To run tests on all relevant packages run ./bin/nosetests parts/Products/* --exe -v
     zLOG
     simplejson
     repoze.profile

interpreter = python-console
extra-paths =
    ${buildout:directory}/parts/
    ${buildout:directory}/parts/Products

[mkdirs]
recipe = z3c.recipe.mkdir
paths =
    ${zope_conf:filestorage}
    ${zope_conf:logfiles}
    ${zope_conf:blobstorage}

[test]
recipe = zc.recipe.testrunner
eggs = 
    bioport
    biodes
    gerbrandyutils
    bioport_repository

defaults = ['--tests-pattern', '^f?tests$', '--color', '-v',]


# this section named so that the i18n scripts are called bin/i18n...
[i18n]
recipe = z3c.recipe.i18n:i18n
packages = bioport
eggs = bioport
domain = bioport
output = src/bioport/locales
zcml =

# This section is named so that the zpasswd utility is
# called `zpasswd`
[zpasswd]
recipe = z3c.recipe.dev:script
eggs = bioport
module = zope.app.server.zpasswd
method = main

[zope_conf]
recipe = collective.recipe.template
input = etc/zope.conf.in
output = ${buildout:parts-directory}/etc/zope.conf
filestorage = ${buildout:directory}/var/filestorage
blobstorage = ${buildout:directory}/var/blobstorage
logfiles = ${buildout:directory}/var/log
extra =
# 'extra' is copied verbatim. Use it for product config sections and so.
[zope_zeoclient_conf]
recipe = collective.recipe.template
input = etc/zope.conf.zeoclient.in
output = ${buildout:parts-directory}/etc/zope.conf.zeoclient
logfiles = ${buildout:directory}/var/log

# The [data] and [log] parts are still in here to instruct buildout to not
# unintentionally throw away the parts/data and parts/log subdirectories
# that contain the Data.fs and the log files. These files should be
# copied to the new locations. See the upgrade notes for more information.
[data]
recipe = zc.recipe.filestorage

[log]
recipe = zc.recipe.filestorage

[site_zcml]
recipe = collective.recipe.template
input = etc/site.zcml.in
output = ${buildout:parts-directory}/etc/site.zcml

[zdaemon_conf]
recipe = collective.recipe.template
input = etc/zdaemon.conf.in
output = ${buildout:parts-directory}/etc/zdaemon.conf

[deploy_ini]
recipe = collective.recipe.template
input = etc/deploy.ini.in
output = ${buildout:parts-directory}/etc/deploy.ini

[debug_ini]
recipe = collective.recipe.template
input = etc/debug.ini.in
output = ${buildout:parts-directory}/etc/debug.ini

[eggbasket]
recipe = z3c.recipe.eggbasket
eggs = grok
url = http://grok.zope.org/releaseinfo/grok-eggs-1.0.tgz

[Products]
recipe =  infrae.subversion
urls = 
#    http://dev.inghist.nl/svn/BiografischPortaal/BioPortRepository/trunk/ BioPortRepository
#    http://dev.inghist.nl/svn/BiografischPortaal/BioDes/trunk/ BioDes
#    http://dev.inghist.nl/svn/names/trunk/ names
#    http://dev.inghist.nl/svn/NamenIndex/trunk/ namenindex
#    http://dev.inghist.nl/svn/NamenIndex/branch/separate_code namenindex
#export = true

[sources]
bioport = svn http://dev.inghist.nl/svn/BiografischPortaal/site/trunk/ 
bioport_repository = svn http://dev.inghist.nl/svn/BiografischPortaal/bioport_repository/trunk/
names = svn http://dev.inghist.nl/svn/names/trunk/
biodes = svn http://dev.inghist.nl/svn/BiografischPortaal/biodes/trunk
Levenshtein = svn http://dev.inghist.nl/svn/Levenshtein/
gerbrandyutils = svn http://dev.inghist.nl/svn/gerbrandyutils/trunk/

[haproxy-build]
recipe = plone.recipe.haproxy
[haproxy-conf]
recipe = collective.recipe.template
input = ${buildout:directory}/etc/haproxy.conf.in
output = ${buildout:directory}/parts/etc/haproxy.conf
maxconn = 400
ulimit-n = 4000
user = zope
group = zope
bind = *:${ports:haproxy}

[supervisor]
port = ${ports:supervisor}
recipe = collective.recipe.supervisor
programs =
    10 zeoserver ${zeoserver:location}/bin/runzeo true zope
    20 paster1 ${buildout:directory}/bin/paster [serve ${buildout:directory}/etc/supervisor.production.ini http_port=${zeoclient1:http-address} --user=zope --group=zope] ${buildout:directory} true
    20 paster2 ${buildout:directory}/bin/paster [serve ${buildout:directory}/etc/supervisor.production.ini http_port=${zeoclient2:http-address} --user=zope --group=zope] ${buildout:directory} true
    20 paster3 ${buildout:directory}/bin/paster [serve ${buildout:directory}/etc/supervisor.production.ini http_port=${zeoclient3:http-address} --user=zope --group=zope] ${buildout:directory} true
    20 paster4 ${buildout:directory}/bin/paster [serve ${buildout:directory}/etc/supervisor.production.ini http_port=${zeoclient4:http-address} --user=zope --group=zope] ${buildout:directory} true
    30 haproxy ${buildout:directory}/bin/haproxy [ -f ${buildout:directory}/parts/etc/haproxy.conf -db ] true zope
    40 plone ${buildout:directory}/plone-buildout/parts/instance/bin/runzope ${buildout:directory}/plone-buildout/parts/instance true zope

[zeoclient1]
http-address = ${ports:paster1}

[zeoclient2]
http-address = ${ports:paster2}

[zeoclient3]
http-address = ${ports:paster3}

[zeoclient4]
http-address = ${ports:paster4}

[testclient]
recipe = collective.recipe.cmd
on_install=true
cmds =
    echo "#!/bin/sh\ncd ${buildout:directory}\nexec ./bin/paster serve ${buildout:directory}/etc/supervisor.production.ini http_port=${ports:paster1}">bin/testclient
    chmod 755 bin/testclient

[zeoserver]
recipe = plone.recipe.zeoserver
zeo-address = ${ports:zeoserver}

[versions]
zope.i18n = 3.5
sqlalchemy = 0.5.8
