[buildout]
parts =
    instance
    zopepy

# Change the number here to change the version of Plone being used
extends = 
    http://dist.plone.org/release/4.1.4/versions.cfg
#    http://good-py.appspot.com/release/collective.xdv/1.0?plone=4.1.4
#    http://dist.plone.org/release/3.3.4/versions.cfg
#    collective_xdv_versions.cfg 
# ^^^ same as good-py below, but better
#http://good-py.appspot.com/release/collective.xdv/1.0rc11?plone=3.3.4
versions = versions


# Add additional egg download sources here. dist.plone.org contains archives
# of Plone packages.
find-links =
    http://dist.plone.org/release/4.1.4
    http://dist.plone.org/thirdparty

# Add additional eggs here
eggs =
    Products.LinguaPlone
    collective.portlet.tal
#    collective.xdv
#    [Zope2.10]
    plone.app.theming
    inghist.bioportcontent
    inghist.bioporttheme
#     quintagroup.theme.sunrain
#    Products.PloneHotfix20110720
    Products.PloneHotfix20121106

# Reference any eggs you are developing here, one per line
# e.g.: develop = src/my.package
develop =
    src/inghist.bioportcontent
    src/inghist.bioporttheme
show-picked-versions = true



#[zope2]
## For more information on this step and configuration options see:
## http://pypi.python.org/pypi/plone.recipe.zope2install
#recipe = plone.recipe.zope2install
#fake-zope-eggs = true
#url = ${versions:zope2-url}

[instance]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/plone.recipe.zope2instance
recipe = plone.recipe.zope2instance
#zope2-location = ${zope2:location}
user = admin:admin
http-address = 8093
zodb-cache-size = 50000
#debug-mode = on
#verbose-security = on
# If you want Zope to know about any additional eggs, list them here.
# This should include any development eggs you listed in develop-eggs above,
# e.g. eggs = Plone my.package
eggs =
    Plone
    ${buildout:eggs}

# If you want to register ZCML slugs for any packages, list them here.
# e.g. zcml = my.package my.other.package
zcml =
    collective.portlet.tal
blob-storage = ${buildout:directory}/var/blobstoragep

[zopepy]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/zc.recipe.egg
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
#extra-paths = ${zope2:location}/lib/python
scripts = zopepy

#[versions]
#Products.linguaplone = 3.0.1

[versions]
Products.LinguaPlone = 4.1.2
collective.portlet.tal = 1.1

#zc.buildout = 1.4.3
#collective.portlet.tal = 1.0rc2
#plone.z3cform = 0.5.5

plone.app.theming = 1.0
plone.resource = 1.0
repoze.xmliter = 0.5

#Required by:
#plone.app.theming 1.0
diazo = 1.0

#Required by:
#diazo 1.0
experimental.cssselect = 0.3

#Required by:
#inghist.bioporttheme 6.0.6
plone.app.themingplugins = 1.0b1

#Required by:
#plone.app.theming 1.0
plone.subrequest = 1.6.5

#Required by:
#plone.app.themingplugins 1.0b1
z3c.jbot = 0.7.1

